In [86]:
import pandas as pd

In [87]:
df=pd.read_csv("AB_NYC_2019.csv")

In [88]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [89]:
df=df.dropna()

Removing Outliers

In [90]:
Q1=df['price'].quantile(0.25)
Q3=df['price'].quantile(0.75)
IQR=Q3-Q1

In [91]:
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR

In [92]:
df_no_outliers=df[(df['price']>=lower_bound)&(df['price']<=upper_bound)]

In [93]:
print("original dataset shape:",df.shape)

original dataset shape: (38821, 16)

In [94]:
print("After removing outliers:",df_no_outliers.shape)

After removing outliers: (36744, 16)

mean

In [95]:
mean=df['price'].mean()

In [96]:
std=df['price'].std()

In [97]:
lower=mean-3*std
upper=mean+3*std
df_mean_filtered=df[(df['price']>=lower)&(df['price']<=upper)]

In [98]:
print("After filtering out:",df_mean_filtered.shape)

After filtering out: (38509, 16)

Median absolute deviation

In [99]:
import numpy as np

In [100]:
from statsmodels.robust.scale import mad

In [101]:
median=df['price'].median()
mad_value=mad(df['price'])
threshold=3
df_mad_filtered=df[(np.abs(df['price']-median)/mad_value)<threshold]

In [120]:
print ("After mad filtering",df_mad_filtered.shape)

After mad filtering (36642, 16)

Percentile

In [124]:
lower=df['price'].quantile(0.01)
upper=df['price'].quantile(0.99)
df_pct_filtered=df[(df['price']>=lower)&(df['price']<=upper)]

In [130]:
print("After percentile filtering:",df_pct_filtered.shape)

After percentile filtering: (38123, 16)